{% extends "cms/base.html" %}

{% load cms_tags %}

{% block title %}{{ block.super }} | {{ article.section.name }}{% endblock %}

{% block body-text %}
  <div id="text-area">
    {{ article|add_images|safe }}
  </div>
{% endblock %}

{% block article-menu %}
  <ol id='article-menu'>
    {% for article in in_this_section %}
      <li><a href='{% url mingus.views.article article.slug %}'>{{ article.title }}</a></li>
    {% endfor %}
  </ol>
{% endblock %}

{% block related %}
  <div id="extra-links">
    {% for rel in related %}
      <p><a href='{% url mingus.views.article rel.slug %}'>{{ rel.title }}</a></p>
    {% endfor %}
  </div>
{% endblock %}