<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="/media/css/ti-visual.css" type="text/css" charset="utf-8"/>
	<title>Ti-Visual</title>
</head>

<body>
  <div id="banner">
    <img src="/media/images/header.gif" alt="Ti-Visual Ltd" title="Ti-Visual Ltd" />
  </div>
  
  <div id="menu-bar">
    <ul>
      <li>home</li>
      <li>about us</li>
      <li>services</li>
      <li>portfolio</li>
      <li>resources</li>
      <li>contact</li>
    </ul>
  </div>
  
  <div id="img-block">
    <img src="/media/images/image.jpg" alt="Eye" />
  </div>
  
  <div id="side-menu">
    <ul>
      <li>about us</li>
      <li>services</li>
      <li>portfolio</li>
      <li>resources</li>
      <li>contact</li>
    </ul>
  </div>
  
  <div id="text-area">
    <p>
      Ti-Visual is a creative services company based in Chester, specializing in communicating
      complex information in visual form, backed by a professional graphic design service including
      design for print, web and multimedia.
    </p>

    <p>
      Making the complex appear simple in a visual presentation is key to making information
      accessible to everyone. Our aim is to effectively communicate your message to your target
      audience
    </p>
  </div>
  
  <div id="extra-links">
    <ul>
      <li>Technical Illustration</li>
      <li>Information Graphics</li>
      <li>Graphic Design</li>
    </ul>
  </div>
  
  <div id="footer">
    <img src="/media/images/footer.gif" alt="alt" title="title" />
  </div>
</body>
</html>
