{% extends "mingus/base.html" %}

{% load cms_tags %}

{% block title %}{{ block.super }} | {{ article.section.name }}{% endblock %}

{% block body-text %}
  <div id="text-area">
    {{ article.render }}
  </div>
{% endblock %}

{% block article-menu %}
  <ol id='article-menu'>
    {% for article1 in in_this_section|slice:':7' %}
      <li  {% ifequal article1 article %}class='current-article'{% endifequal %}>
        <a href='{{ article1.get_absolute_url }}'>{{ article1.title }}</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}

{% block related %}
  <div id="extra-links">
    {% for rel in related|slice:':3' %}
      <p><a href='{{ rel.get_absolute_url }}'>{{ rel.title }}</a></p>
    {% endfor %}
  </div>
{% endblock %}
